/* GENERAL RULE */
:root {
    /*********** Color Variables *************************/
    --light-color: rgba(255, 255, 255, 1);
    --main-brand-color: rgba(217, 186, 140, 1);
    --main-dark-bg: rgba(51, 51, 51, 1);
    --secondary-dark-color: rgba(0, 0, 0, 1);
    --black-maple-gray: rgba(35, 35, 35, 1);

    /**************** Gap and Duration Variables **********************/
    --vmargin: 30px;
    --duration: 3s;

    /****************** Z-Index Variables ******************/
    --zIndex-1: 9;
    --zIndex-2: 99;
    --zIndex-3: 999;
    --zIndex-4: 9999;
    --zIndex-5: 99999;

    /************ Typography Variables ******************/

    --type-micro: 0.625rem; /* 10px */
    --type-smallest: 0.75rem; /* 12px */
    --type-smaller: 0.875rem; /* 14px */
    --type-small: 1rem; /* 16px */
    --type-base: 1.25rem; /* 20px */
    --type-large: 1.5625rem; /* 25px */
    --type-larger: 3.125rem; /* 50px */
    --type-largest: 4.375rem; /* 70px */
    --type-jumbo: 5.625; /* 90px */
}

* {
    margin: 0;
    padding: 0;
}

body,
html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--main-dark-bg);
    color: var(--light-color);

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--main-brand-color);
    border-radius: 1em;
}

body::-webkit-scrollbar-track {
    background-color: var(--main-dark-bg);
}

a {
    color: var(--light-color);
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    object-fit: cover;
}

.container {
    width: calc(100% - 260px);
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
}

.content-wrapper {
    grid-area: main;
}

.footer-wrapper {
    grid-area: footer;
}

.shadow-title {
    position: absolute;
    top: 17px;
    left: 50%;
    width: 100%;
    font-weight: 700;
    font-size: 55px;
    text-transform: capitalize;
    text-align: center;
    line-height: 1;
    color: var(--light-color);
    opacity: 0.04;
    transform: translate(-50%);
}

.section-header {
    text-align: center;
    margin: 0 auto 100px;
}

.section-header__sub-info {
    font-size: var(--type-smallest);
    text-transform: uppercase;
    color: var(--light-color);
}

.section-header__title {
    font-size: var(--type-larger);
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    background: -webkit-linear-gradient(#907047, var(--main-brand-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0;
}
