.global-button-style {
    min-width: 200px;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--type-small);
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    color: var(--light-color);
    border: 0;
    cursor: pointer;
}

.global-button-style::after, .global-button-style::before {
    content: '';
    position: absolute;
    display: block;
    width: 30%;
    height: 100%;
    transition: 600ms;
}

.global-button-style::before{
    top: 0;
    left: 0;
    border-top: 1px solid var(--main-brand-color);
    border-left: 1px solid var(--main-brand-color);
}

.global-button-style::after{
    right: 0;
    bottom: 0;
    border-bottom: 1px solid var(--main-brand-color);
    border-right: 1px solid var(--main-brand-color);
}

.global-button-style:hover::after,
.global-button-style:hover::before{
    width: 100%;
    transition: 600ms;
}