/****** Loader Start******/
.loader {
    /*display: grid;*/
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: var(--zIndex-5);
    background-color: var(--clr-ntrl-max);
    animation: cssAnimation 1s ease-in 5s forwards;
    animation-fill-mode: forwards;
    overflow: hidden;
    display: none;
}

.loader svg polygon {
    fill: none;
    stroke: var(--main-brand-color);
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 145 76 145 76;
    stroke-dashoffset: 0;
    animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.triangle {
    width: 48px;
    align-self: center;
}

.loader .triangle::before {
    left: 21px;
    transform: translate(-10px, -18px);
    animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathTriangle {
    33% {
        stroke-dashoffset: 74;
    }
    66% {
        stroke-dashoffset: 147;
    }
    100% {
        stroke-dashoffset: 221;
    }
}

@keyframes dotTriangle {
    33% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    66% {
        -webkit-transform: translate(10px, -18px);
        transform: translate(10px, -18px);
    }
    100% {
        -webkit-transform: translate(-10px, -18px);
        transform: translate(-10px, -18px);
    }
}

@keyframes cssAnimation {
    from{
        width: 100%;
        height: 50%;
        transition: 400ms;
        overflow: hidden;
    }
    to {
        width: 0;
        height: 0;
        transition: 500ms;
        overflow: hidden;
    }
}

/****** Loader End******/
